@model IEnumerable<MVC.Models.MVCLoginModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Add","Users")" class=" btn btn-default"><i class="fa-solid fa-right-to-bracket"></i> Login </a>
</p>

